# CircuitPython Project Bundle Manifest
#
# This config file uses INI file syntax.
#

# First Project Config Task: Update library bundle links.
#
# 1. Open https://github.com/adafruit/Adafruit_CircuitPython_Bundle/releases
# 2. Find the latest release, then scroll down to its "Assets" section
# 3. Right click on the adafruit-circuitpython-bundle-... mpy zip file to copy
#    its link address, then paste that link below, replacing the old link
#
# The bundle builder will use the mpy zip file link to download the
# CircuitPython library bundle. Once the libraries are downloaded and unpacked,
# the bundle builder will use them to obtain the library mpy files to put in
# your project bundle zip file.
#
[library_bundle]
10.x: https://github.com/adafruit/Adafruit_CircuitPython_Bundle/releases/download/20260424/adafruit-circuitpython-bundle-10.x-mpy-20260424.zip

# Second Project Config Task: List the libraries you want copied from the
# library bundles into the lib/ directory of your project bundle. List the
# plain library names, one name per line (no extension or version).
#
[lib]
adafruit_hid

# Third Project Config Task: List the code files and packages you want copied
# from the root directory of your code repository to the root directory of your
# project bundle. Filenames can use glob patterns with '*' or '?'.
#
[root]
code.py

# Fourth Project Config Task: Enter your project's guide link URL to be
# included in the project bundle README file.
#
[meta]
guide_link: [NO GUIDE YET]
